<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pricechecker</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/node</string>
        <string><pathToScript>/main.mjs</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>*</integer>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string><pathToLoggerOutput>/price-checker.log</string>
    <key>StandardErrorPath</key>
    <string><pathToLoggerOutput>/price-checker-error.log</string>
    <key>WorkingDirectory</key>
    <string><pathToLocalRepoDirectory></string>
    <key>KeepAlive</key>
    <false/>
    <key>WakeFromSleep</key>
    <true/>
</dict>
</plist>